@keyframes scaleModal {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.03);
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
