@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Gayathri:wght@100;400;700&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./anime.scss";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--sans-pro);
}

#settings {
  margin-top: 50px !important;
}

// error messages
#err,
.email-err,
.pwd-err,
.new-pwd-err,
.old-pwd-err {
  color: red;
  font-size: 10px;
}

.auth-success-msg {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid var(--success);
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  font-weight: 500;
  border-radius: 3px;
  opacity: 0;
  color: var(--success);
  padding-top: 5px;
  position: absolute;
  margin-top: -120px;
  margin-left: 0px;
  z-index: 10;
  padding: 7px 8px;
  animation: scaleModal 6s ease-in forwards;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: var(--success);
    font-size: 20px;
    font-weight: 500;
  }

  @media only screen and (min-width: 0px) and (max-width: 375px) {
    margin-left: 42px;
    margin-top: 30px;
  }

  @media only screen and (min-width: 376px) and (max-width: 576px) {
    margin-left: 70px;
    margin-top: 30px;
  }
}

.auth-err-msg {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid var(--danger);
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  font-weight: 500;
  border-radius: 3px;
  opacity: 0;
  color: var(--danger);
  padding-top: 5px;
  position: absolute;
  margin-top: -40px;
  margin-left: 0px;
  z-index: 10;
  padding: 7px 8px;
  animation: scaleModal 6s ease-in forwards;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: var(--danger);
    font-size: 20px;
    font-weight: 500;
  }

  @media only screen and (min-width: 0px) and (max-width: 375px) {
    margin-left: 25px;
    margin-top: 30px;
  }

  @media only screen and (min-width: 376px) and (max-width: 576px) {
    margin-left: 50px;
    margin-top: 30px;
  }
}

.dash-success-msg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid var(--success);
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  height: 45px;
  width: 100%;
  font-weight: 500;
  border-radius: 3px;
  color: var(--success);
  padding-top: 5px;
  margin-top: -130px;
  margin-left: -380px;
  animation: scaleModal 10s ease-in forwards;
  padding: 7px 8px;
  opacity: 0;
  z-index: 10;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: var(--success);
    font-size: 20px;
    font-weight: 500;
  }

  @media only screen and (min-width: 0px) and (max-width: 576px) {
    margin-left: -12px;
    margin-top: -180px;
  }

  @media only screen and (min-width: 577px) and (max-width: 992px) {
    margin-left: -176px;
    margin-top: -120px;
  }
}

.dash-error-msg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid var(--danger);
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  height: 45px;
  width: 100%;
  font-weight: 500;
  border-radius: 3px;
  color: var(--danger);
  padding-top: 5px;
  margin-top: -130px;
  margin-left: -380px;
  animation: scaleModal 5s ease-in forwards;
  padding: 7px 8px;
  opacity: 0;
  z-index: 10;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: var(--danger);
    font-size: 24px;
    font-weight: 500;
  }

  @media only screen and (min-width: 0px) and (max-width: 576px) {
    margin-left: -12px;
    margin-top: -180px;
  }

  @media only screen and (min-width: 577px) and (max-width: 992px) {
    margin-left: -176px;
    margin-top: -120px;
  }
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* global form styles starts here*/

.form-control {
  height: 45px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--grey);
  padding: 0 0 0 15px;
  margin-top: 5px;
}

.form-control::placeholder {
  color: var(--grey);
  font-size: 14px;
}

.form-control:focus {
  border: 1px solid var(--primary);
}

.form-control::focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  outline: 1px solid var(--primary);
}

/* phone number input style on the 
* user settings page
*/
.number {
  height: 45px;
  border-radius: 6px;
  padding: 0 10px;
  border: 1px solid var(--grey);
}

.number:focus {
  border: 1px solid var(--primary);
}

.number input {
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
}

.active-navLink {
  border-left: 3px solid #fff;
  background: var(--primary-80);
  height: 54px;
}

.open {
  display: block;
}

.signup-text p {
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px;
  line-height: 28px;
  color: var(--grey);
}

.signup-text p span {
  color: var(--primary);
  padding: 0 5px;
}

.signup-text p span:hover {
  cursor: pointer;
}

/* global form styles ends here */

/* table eleent global style */
.table-elem-flex {
  display: flex;
  padding-top: 8px;
  padding-left: 16px;
}

.staff-image {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.staff-name {
  margin-left: 10px;
}

.fullname,
.weekday {
  font-weight: 600;
  font-size: 14px;
}

.position,
.date {
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: var(--position-staff);
  margin-top: -13px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .table-elem-flex {
    padding-left: 3px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  background: var(--primary);
  border-radius: 10px;
}

/* ios on input focus zoom workaround */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

/* btn controls on the settings page */

.btn-outline {
  background: #fff !important;
  border: 1px solid var(--grey);
  color: var(--grey);
}

.btn-outline a {
  color: var(--grey);
}

// reset password screen global styles
.reset-password {
  transform: translate(0, 50%);
}

// skeletons

.pulse-placeholder {
  margin-top: 8px;
  width: 130px;
  height: 15px;
  background: var(--grey);
  border-radius: 9px;
  animation: pulse 0.4s ease-in forwards;
  opacity: 0;
}

.loader {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(900%);
}

.table-loader-unique {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(400%);
}

.table-loader {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(30%);
}

// entry cards global styles
.reports-entry {
  height: 350px !important;
  margin-top: 10px !important;

  button {
    font-weight: 500;
  }
}

// no report data
.no-data {
  text-align: center;
  margin-top: 70px;
  font-size: 22px;
  font-weight: bold;
  color: red;
}
